.layout {
  font-family: var(--font-inter);
  height: 100vh;
  max-width: 520px;
  margin-inline: auto;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
  color: var(--clr-text);
  background: var(--clr-bg);

  & main {
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
  }
}
